.menu{
   display: flex;
    color:#4c83fa;
    justify-content: space-around;
   font-family: comic sans ms;
}
.grid{
    display: flex;
    flex-wrap: wrap;
    /*margin: 10px;*/
    justify-content: space-around;
    /*border-radius: 100px;*/
    /*border:10px solid;*/
    
}
p{
    display: flex;
    justify-content: space-around;
    font-size: 30px;
    color:rgb(255, 215, 162);
    font-family: comic sans ms;
    font-weight: bold;
}
body{
    background-color: #000000;
}
.img{
    display: flex;
    justify-content: space-around;
}
.Brother{
 display: flex;
 justify-content: space-around;
}